%h3= logged_in? ? 'Logged in' : 'Not logged in'

%ul
  - for blog in @blogs
    %li
      %a{ :href => "#{ url(:blog_by_date, blog) }" }= blog.title
      %a{ :href => "#{ url(:blog, blog) }" }= "(#{blog.id})"