%h2= 
:plain
  <h2><a href="/2007/12/4/internet-in-new-zealand" title="Internet in New Zealand">Internet in New Zealand</a></h2>
  <small>December 4th, 2007</small>
  <p>What&#8217;s not to love about New Zealand? The internet.  Capped bandwidth, slow speeds, expensive fees, no naked <span class="caps">DSL</span>, an a lack of wifi hotspots are all examples of why telecom monopolies are bad things.  Don&#8217;t get me started on Telecom&#8217;s current puppet ad campaign.</p>


  <p>The most affordable short-term internet connection option in New Zealand is also the most versatile.  Vodafone&#8217;s &#8220;Vodem&#8221; device and service provides a broadband internet connection via their 3G network.  When in the country, the device &#8220;seamlessly&#8221; downgrades to the nation-wide <span class="caps">GPRS</span> network to keep you connected.</p>


  <p>With a Vodem purchased off of TradeMe and a subscription-free contract, we can surf 6 gigs worth of the net per month for a mere $90 <span class="caps">NZD</span>.  And this is our cheapest option (for three 3 months, including the installation and disconnect fees of the other options).</p>


  <p>Traveling all around the north island, we haven&#8217;t had any geographical issues with the Vodem.  In the cities, 3G works well and in the country, <span class="caps">GPRS</span> is slow but gets the job done.  The main issue we&#8217;ve had is dropped connections to the network.</p>


  <p>Typically, we&#8217;re able to authenticate and get online within 15 &#8211; 20 seconds of plugging in the Vodem to one of our Mac notebooks.  Pinging a server like google.com gives us an average of a 300ms response, with about 1 &#8211; 2% of the packets dropped.  This is good enough to make <span class="caps">VOIP</span> calls to the States and work within <span class="caps">SSH</span> tunnels to remote servers, not to mention read email, update blogs, and surf the web.</p>


  <p>What will happen without warning, however, is that responses from the network will disappear.  We&#8217;ll notice that web pages aren&#8217;t loading.  From a terminal window, pings to our favorite domains don&#8217;t even hit the <span class="caps">DNS</span> server.  The Vodem thinks it is still connected, but there is no response.  Manually disconnecting and reconnecting the Vodem usually solves the problem, but can be a hassle when in the middle of a phone call or a download.</p>


  <p>There aren&#8217;t many documents online helping to troubleshoot this issue.  Vodafone solution support team (0800-921-021), however, has been very helpful.  This morning they said that this sounded like a typical issue other customers have been having, and they suggested that I change the <span class="caps">APN</span> (access point name) from &#8216;www.vodafone.net.nz&#8217; to &#8216;internet&#8217;.</p>


  <p>Changing this on a Mac running Tiger (OS <span class="caps">X 10</span>.4.10) isn&#8217;t straightforward but can be done.  Vodafone support said that in the Device Manager, there would be an option section and an <span class="caps">APN</span> tab where this value could be changed.  I couldn&#8217;t find the Device Manager, so instead, inspired by a <a href="http://the.taoofmac.com/space/HOWTO/Setup%20GPRS/UMTS%20Access%20on%20a%20Mac">Tao of Mac</a> article, I hacked the configs myself.</p>


  <p>The Vodem, when installed, installs a modem script that Internet Connect uses to dail into Vodafone&#8217;s network.  This file is:</p>


  <pre><code>/Library/Modem Scripts/MMHS Modem</code></pre>


  <p>Opening the file, line 87 has the string string we&#8217;re looking to change.  Change line 87 to look like this:</p>


  <pre><code>! write "AT+CGDCONT=1,\34IP\34,\34www.vodafone.net.nz\34,,0,0\13" write "AT+CGDCONT=1,\34IP\34,\34internet\34,,0,0\13"</code></pre>


  <p>That exclamation mark comments out the old line, and then below that we the &#8216;internet&#8217; value.</p>


  <p>This is my first time every dealing with modem scripts.  My hack was led more by my deductive reasoning skills than any advanced knowledge I have on the subject.  Additionally, I&#8217;ve only so far tested this fix with a 30 minute <span class="caps">VOIP</span> call.  But all seems to be well.  Initially my ping response time was ~360ms, but now is around ~320ms, with the dropped rate remaining about the same.  Here&#8217;s hoping the fix lasts more than 30 minutes!</p>
  <p class="meta">
    <a href="/2007/12/4/internet-in-new-zealand#comments" title="0 comments">0 comments</a> |
    Filed Under:  <a class="selected" href="/programming" title="Programming">Programming</a>  <a href="/traveling" title="Traveling">Traveling</a>  |
    Tags: 
  </p>