:ruby
  # Partial for displaying a list of comments
  # ==== Parameters
  # blog<Blog>:: the blog to which the comments are attached

%ul
  - for comment in blog.comments
    - next if comment.new_record?
    %li
      %strong= comment.author_name
      = comment.body

- if blog.comments_closed?
  %p Comments are closed
- else
  #comment_form
    - url     = url(:new_blog_comment, :blog_id => 1, :format => :js)
    - onclick = "$('#comment_form').load('#{ url }'); return false;"
    %a{ :href => '#', :onclick => onclick } Add a comment