.right
  :float right

.center
  :text-align center

.clear
  :clear both

ul
  &.unlist
    :list-style none
    :margin 0
    :padding 0
  &.horizontal
    li
      :float left
      :padding 0 .5em

dl.compact
  dt
    :float left
    :width 75px
    :clear left
    :line-height 2em
  dd
    :margin-left 75px

.error
  :border 1px solid Red

.errors
  :border 2px solid Red
  :margin-top 1em
  :background #FFE1E7
  strong
    :display block
    :text-align center
    :background Pink
    :padding .5em 0

.larger
  :font-size 1.2em