body {
  font-family: Helvetica, Arial;
  text-align: center;
  margin:0;
  font-size:76%;
  background: url(/images/riceShadow.jpg) center repeat-y;
}

a {
  color: #385409;
  text-decoration: none;
}

a:hover { text-decoration:underline; }

h1 {
  width:800px;
  margin:0 auto;
  text-indent:-2000px;
  overflow:hidden;
  background: url(/images/header.jpg) no-repeat center 0;
  height:166px;
  z-index:2;
  position:relative;
}

h2 {
  font-size: 32px;
  font-family: monospace;
  border-bottom: 1px solid Silver;
  margin: 0;
}

h2 a { color: Black; text-decoration:none; }

small {
  color: Silver;
  font-size:1em;
  padding:.5em 0 1em 0;
  display:block;
}

.right { float:right; }

ul.unlist {
  list-style:none;
  margin:0;
  padding:0;
}

ul.horizontal li {
  float:left;
  padding: 0 .5em;
}

dl.compact dt {
  float:left;
  width: 75px;
  clear:left;
  line-height: 2em;
}

#shell {
  margin: 0 auto;
  text-align:left;
  width:800px;
  border: 1px solid White;
  border-bottom:none;
  position:relative;
  top:-1px;
  background:url(/images/riceBodyTop.jpg) no-repeat;
}

#wrapper {
  margin: 0 67px 0 70px;
  background:white;
}

#content {
  font-size: 1em;
  width: 450px;
  float:right;
  padding-right:10px;
}

#sidebar {
  width: 190px;
}

#sidebar .wrapper {
  margin-left: 15px;
  text-align: center;
}

#sidebar h3, #sidebar div, #sidebar ul {
  margin: 0;
}

#sidebar #pic img {
  width: 80%;
  padding: 3px;
  border: 1px solid Silver;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 1em;
}

#sidebar h3 {
  text-align: center;
  padding: .5em 0;
}

#sidebar a { text-decoration: none; }

#sidebar ul {
  list-style:none;
  padding:0;
}

#sidebar li {
  text-align:center;
  padding: .75em 0;
  clear:left;
  font-size: 1em
}

#sidebar #photo img {
  width:120px;
  border: 1px solid #ddd;
  padding: 3px;
}

#sidebar #photos  { background: #CBE379; }
#sidebar #albums  { background: #B3D838; }
#sidebar #contact { background: #7D9920; }
#sidebar #previously { background: #7D9920; }

#sidebar a { color: Black; }
#sidebar li#previously a { color: White; }

#sidebar #previous {
  background: black;
  color: White;
}

#sidebar #previous a { color: Silver; }

#sidebar #previous strong {
  display: block;
  border-bottom: 2px solid #222;
}

#sidebar span {
  background: black;
  color: White;
  display:block;
  float: left;
  margin:-.75em .5em 0 .5em;
}

#sidebar small {
  font-size:smaller;
  margin-bottom:-.5em;
}

#footer {
  height: 120px;
  background: black url(/images/riceBottom.jpg) 0 -25px;
  margin:0 -1px -1px -2px;
  clear:both;
}

pre {
  background: #ddd;
  font-size:1.2em;
  padding: 5px;
  overflow:auto;
}