<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Aaron Wheeler : Fightinjoe.com</title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/chili-1.7.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.accordion.js"></script>
    <link href="/stylesheets/rice.css" rel="stylesheet" type="text/css" />
    <link href="/feed/atom.xml" rel="alternate" type="application/atom+xml" />
  </head>
  <body>
    <h1><a href="/"> Aaron Wheeler :  </a></h1>
    <div id="shell">
      <div id="wrapper">
        <div id="header"></div>
        <div id="content">
          <%= catch_content :for_layout %>
        </div>
        <div id="sidebar">
          <h3 id="photos">Photos</h3>
          <div>photos</div>

          <h3 id="albums">Contact</h3>
          <div>albums</div>

          <h3 id="previously">Previously</h3>
          <ul id="previous">
            <li>
              <% for category in Category.all %>
              <strong><%= category.title %></strong>
              <ul>
                <% for blog in Blog.all( :limit => 10, :category_id => category.id ) %>
                  <li><a href="<%= url(:blog_by_date, blog) %>"><%= blog.title %></a></li>
                <% end %>
              </ul>
              <% end %>
            </li>
          </ul>
        </div>
        <div id="footer"></div>
      </div>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct="UA-257048-1"; urchinTracker();</script>
    <script type="text/javascript" src="http://cetrk.com/pages/scripts/0004/7761.js"></script>
    <script type="text/javascript">jQuery('#previous li').accordion({ header: 'strong', autoheight: false });</script>
  </body>
</html>