<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Aaron Wheeler : Fightinjoe.com</title>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/chili-1.7.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.accordion.js"></script>
    <link href="/stylesheets/rice.css" rel="stylesheet" type="text/css" />
    <link href="/feed/atom.xml" rel="alternate" type="application/atom+xml" />
  </head>
  <body>
    <h1><a href="/"> Aaron Wheeler :  </a></h1>
    <div id="shell">
      <div id="wrapper">
        <div id="header"></div>
        <div id="content">
          <%= catch_content :layout %>
        </div>
        <div id="sidebar">
          <h3 id="photos">Photos</h3>
          <div>photos</div>

          <h3 id="albums">Contact</h3>
          <div>albums</div>

          <h3 id="previously">Previously</h3>
          <ul id="previous">
            <% for blog in Blog.al( :limit => 10 ) %>
              <li><a href="<%= blog.path %>">content...</a></li>
            <% end %>
            <li><a href="/2007/10/27/what-did-i-do" title="What did I do?">What did I do?</a></li>
            <li><a href="/2007/6/27/travel-advisory" title="Travel Advisory">Travel Advisory</a></li>
            <li><a href="/2007/6/21/marriage-recommendations" title="Marriage recommendations">Marriage recommendations</a></li>
            <li><a href="/2007/5/27/community-building" title="Community Building">Community Building</a></li>
            <li><a href="/2007/5/2/bite-your-lip" title="Bite your lip">Bite your lip</a></li>
            <li><a href="/2007/4/20/close-and-open" title="Close and Open">Close and Open</a></li>
            <li><a href="/2007/4/17/neo-japanese" title="Neo-Japanese">Neo-Japanese</a></li>
            <li><a href="/2007/1/10/oral-fixation" title="Oral Fixation">Oral Fixation</a></li>
            <li><a href="/2006/12/30/migration" title="Migration">Migration</a></li>
            <li><a href="/2006/10/17/21st_century" title="21st Century">21st Century</a></li>
          </ul>
        </div>
        <div id="footer"></div>
      </div>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct="UA-257048-1"; urchinTracker();</script>
    <script type="text/javascript" src="http://cetrk.com/pages/scripts/0004/7761.js"></script>
    <script type="text/javascript">jQuery('#sidebar').accordion({ header: 'h3', autoheight: false });</script>
  </body>
</html>