%h2 404: Page not found

%p You've tried to visit a page that does not exist!

%p Double-check your URL for any errors, and try to load the page again.

%p
  If this is unexpected,
  %a{ :href => '/contact' } contact me
  and I'll help you find what you're looking for.